In [6]:
import plotly.offline as pyo
import pandas as pd
from matplotlib import pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import math

In [14]:
data = pd.read_csv('Interactive Data Final Project.csv')
data_group = data.astype({'Popular U.S. Cities': 'category', 'Entry-Level Marketing Starting Salary': 'category', 'Cities Median Income': 'category', 'Cities Population': 'category'})
data_to_display = data_group.groupby(['Popular U.S. Cities', 'Cities Population']).describe()
data_to_display

                                       Unnamed: 4                           \
                                            count mean std min 25% 50% 75%
Popular U.S. Cities  Cities Population
Albuquerque, NM       562,599                 0.0  NaN NaN NaN NaN NaN NaN
Arlington, TX         392,786                 0.0  NaN NaN NaN NaN NaN NaN
Atlanta, GA           496,461                 0.0  NaN NaN NaN NaN NaN NaN
Austin, TX            964,177                 0.0  NaN NaN NaN NaN NaN NaN
Baltimore, MA         576,498                 0.0  NaN NaN NaN NaN NaN NaN
Boston, MA            654,776                 0.0  NaN NaN NaN NaN NaN NaN
Charlotte, NC         879,709                 0.0  NaN NaN NaN NaN NaN NaN
Chicago, IL           2,696,555               0.0  NaN NaN NaN NaN NaN NaN
Colorado Springs, CO  483,956                 0.0  NaN NaN NaN NaN NaN NaN
Columbus, OH          906,528                 0.0  NaN NaN NaN NaN NaN NaN
Dallas, TX            1,288,457               0.0  NaN NaN NaN NaN NaN NaN
Denver, CO            711,463                 0.0  NaN NaN NaN NaN NaN NaN
Detroit, MI           632,464                 0.0  NaN NaN NaN NaN NaN NaN
El Paso, TX           678,415                 0.0  NaN NaN NaN NaN NaN NaN
Fort Worth, TX        935,508                 0.0  NaN NaN NaN NaN NaN NaN
Fresno, California    544,510                 0.0  NaN NaN NaN NaN NaN NaN
Houston, TX           2,288,250               0.0  NaN NaN NaN NaN NaN NaN
Indianapolis, IN      882,039                 0.0  NaN NaN NaN NaN NaN NaN
Jacksonville, FL      954,614                 0.0  NaN NaN NaN NaN NaN NaN
Kansas City, MO       508,394                 0.0  NaN NaN NaN NaN NaN NaN
Las Vegas, NV         646,790                 0.0  NaN NaN NaN NaN NaN NaN
Long Beach, CA        456,062                 0.0  NaN NaN NaN NaN NaN NaN
Los Angeles, CA       3,849,297               0.0  NaN NaN NaN NaN NaN NaN
Louisville, KY        628,594                 0.0  NaN NaN NaN NaN NaN NaN
Memphis, TN           628,127                 0.0  NaN NaN NaN NaN NaN NaN
Mesa, AZ              509,475                 0.0  NaN NaN NaN NaN NaN NaN
Miami, FL             439,890                 0.0  NaN NaN NaN NaN NaN NaN
Milwaukee, WI         569,330                 0.0  NaN NaN NaN NaN NaN NaN
Minneapolis, MN       425,336                 0.0  NaN NaN NaN NaN NaN NaN
Nashville, TN         678,851                 0.0  NaN NaN NaN NaN NaN NaN
New Orleans, LA       376,971                 0.0  NaN NaN NaN NaN NaN NaN
New York City, NY     8,467,513               0.0  NaN NaN NaN NaN NaN NaN
Oakland, CA           433,823                 0.0  NaN NaN NaN NaN NaN NaN
Oklahoma City, OK     687,725                 0.0  NaN NaN NaN NaN NaN NaN
Omaha, NE             487,300                 0.0  NaN NaN NaN NaN NaN NaN
Philadelphia, PA      1,576,251               0.0  NaN NaN NaN NaN NaN NaN
Phoenix, AZ           1,624,569               0.0  NaN NaN NaN NaN NaN NaN
Portland, OR          641,162                 0.0  NaN NaN NaN NaN NaN NaN
Raleigh, NC           469,124                 0.0  NaN NaN NaN NaN NaN NaN
Sacramento, CA        525,041                 0.0  NaN NaN NaN NaN NaN NaN
San Antonio, TX       1,451,853               0.0  NaN NaN NaN NaN NaN NaN
San Diego, CA         1,381,611               0.0  NaN NaN NaN NaN NaN NaN
San Francisco, CA     815,201                 0.0  NaN NaN NaN NaN NaN NaN
San Jose, CA          983,489                 0.0  NaN NaN NaN NaN NaN NaN
Seattle, WA           733,919                 0.0  NaN NaN NaN NaN NaN NaN
Tampa, FL             387,050                 0.0  NaN NaN NaN NaN NaN NaN
Tucson, AZ            543,242                 0.0  NaN NaN NaN NaN NaN NaN
Tulsa, OK             411,401                 0.0  NaN NaN NaN NaN NaN NaN
Virginia Beach, VA    457,672                 0.0  NaN NaN NaN NaN NaN NaN
Washington, D.C.      670,050                 0.0  NaN NaN NaN NaN NaN NaN

                                           Unnamed: 5       ...          \
                                       max      count mean  ... 75% max
Popular U.S. Cities  Cities Population                      ...
Albuquerque, NM       562,599          NaN        0.0  NaN  ... NaN NaN
Arlington, TX         392,786          NaN        0.0  NaN  ... NaN NaN
Atlanta, GA           496,461          NaN        0.0  NaN  ... NaN NaN
Austin, TX            964,177          NaN        0.0  NaN  ... NaN NaN
Baltimore, MA         576,498          NaN        0.0  NaN  ... NaN NaN
Boston, MA            654,776          NaN        0.0  NaN  ... NaN NaN
Charlotte, NC         879,709          NaN        0.0  NaN  ... NaN NaN
Chicago, IL           2,696,555        NaN        0.0  NaN  ... NaN NaN
Colorado Springs, CO  483,956          NaN        0.0  NaN  ... NaN NaN
Columbus, OH          906,528          NaN        0.0  NaN  ... NaN NaN
Dallas, TX            1,288,457        NaN        0.0  NaN  ... NaN NaN
Denver, CO            711,463          NaN        0.0  NaN  ... NaN NaN
Detroit, MI           632,464          NaN        0.0  NaN  ... NaN NaN
El Paso, TX           678,415          NaN        0.0  NaN  ... NaN NaN
Fort Worth, TX        935,508          NaN        0.0  NaN  ... NaN NaN
Fresno, California    544,510          NaN        0.0  NaN  ... NaN NaN
Houston, TX           2,288,250        NaN        0.0  NaN  ... NaN NaN
Indianapolis, IN      882,039          NaN        0.0  NaN  ... NaN NaN
Jacksonville, FL      954,614          NaN        0.0  NaN  ... NaN NaN
Kansas City, MO       508,394          NaN        0.0  NaN  ... NaN NaN
Las Vegas, NV         646,790          NaN        0.0  NaN  ... NaN NaN
Long Beach, CA        456,062          NaN        0.0  NaN  ... NaN NaN
Los Angeles, CA       3,849,297        NaN        0.0  NaN  ... NaN NaN
Louisville, KY        628,594          NaN        0.0  NaN  ... NaN NaN
Memphis, TN           628,127          NaN        0.0  NaN  ... NaN NaN
Mesa, AZ              509,475          NaN        0.0  NaN  ... NaN NaN
Miami, FL             439,890          NaN        0.0  NaN  ... NaN NaN
Milwaukee, WI         569,330          NaN        0.0  NaN  ... NaN NaN
Minneapolis, MN       425,336          NaN        0.0  NaN  ... NaN NaN
Nashville, TN         678,851          NaN        0.0  NaN  ... NaN NaN
New Orleans, LA       376,971          NaN        0.0  NaN  ... NaN NaN
New York City, NY     8,467,513        NaN        0.0  NaN  ... NaN NaN
Oakland, CA           433,823          NaN        0.0  NaN  ... NaN NaN
Oklahoma City, OK     687,725          NaN        0.0  NaN  ... NaN NaN
Omaha, NE             487,300          NaN        0.0  NaN  ... NaN NaN
Philadelphia, PA      1,576,251        NaN        0.0  NaN  ... NaN NaN
Phoenix, AZ           1,624,569        NaN        0.0  NaN  ... NaN NaN
Portland, OR          641,162          NaN        0.0  NaN  ... NaN NaN
Raleigh, NC           469,124          NaN        0.0  NaN  ... NaN NaN
Sacramento, CA        525,041          NaN        0.0  NaN  ... NaN NaN
San Antonio, TX       1,451,853        NaN        0.0  NaN  ... NaN NaN
San Diego, CA         1,381,611        NaN        0.0  NaN  ... NaN NaN
San Francisco, CA     815,201          NaN        0.0  NaN  ... NaN NaN
San Jose, CA          983,489          NaN        0.0  NaN  ... NaN NaN
Seattle, WA           733,919          NaN        0.0  NaN  ... NaN NaN
Tampa, FL             387,050          NaN        0.0  NaN  ... NaN NaN
Tucson, AZ            543,242          NaN        0.0  NaN  ... NaN NaN
Tulsa, OK             411,401          NaN        0.0  NaN  ... NaN NaN
Virginia Beach, VA    457,672          NaN        0.0  NaN  ... NaN NaN
Washington, D.C.      670,050          NaN        0.0  NaN  ... NaN NaN

                                       Unnamed: 6
                                            count mean std min 25% 50% 75% max
Popular U.S. Cities  Cities Population
Albuquerque, NM       562,599                 0.0  NaN NaN NaN NaN NaN NaN NaN
Arlington, TX         392,786                 0.0  NaN NaN NaN NaN NaN NaN NaN
Atlanta, GA           496,461                 0.0  NaN NaN NaN NaN NaN NaN NaN
Austin, TX            964,177                 0.0  NaN NaN NaN NaN NaN NaN NaN
Baltimore, MA         576,498                 0.0  NaN NaN NaN NaN NaN NaN NaN
Boston, MA            654,776                 0.0  NaN NaN NaN NaN NaN NaN NaN
Charlotte, NC         879,709                 0.0  NaN NaN NaN NaN NaN NaN NaN
Chicago, IL           2,696,555               0.0  NaN NaN NaN NaN NaN NaN NaN
Colorado Springs, CO  483,956                 0.0  NaN NaN NaN NaN NaN NaN NaN
Columbus, OH          906,528                 0.0  NaN NaN NaN NaN NaN NaN NaN
Dallas, TX            1,288,457               0.0  NaN NaN NaN NaN NaN NaN NaN
Denver, CO            711,463                 0.0  NaN NaN NaN NaN NaN NaN NaN
Detroit, MI           632,464                 0.0  NaN NaN NaN NaN NaN NaN NaN
El Paso, TX           678,415                 0.0  NaN NaN NaN NaN NaN NaN NaN
Fort Worth, TX        935,508                 0.0  NaN NaN NaN NaN NaN NaN NaN
Fresno, California    544,510                 0.0  NaN NaN NaN NaN NaN NaN NaN
Houston, TX           2,288,250               0.0  NaN NaN NaN NaN NaN NaN NaN
Indianapolis, IN      882,039                 0.0  NaN NaN NaN NaN NaN NaN NaN
Jacksonville, FL      954,614                 0.0  NaN NaN NaN NaN NaN NaN NaN
Kansas City, MO       508,394                 0.0  NaN NaN NaN NaN NaN NaN NaN
Las Vegas, NV         646,790                 0.0  NaN NaN NaN NaN NaN NaN NaN
Long Beach, CA        456,062                 0.0  NaN NaN NaN NaN NaN NaN NaN
Los Angeles, CA       3,849,297               0.0  NaN NaN NaN NaN NaN NaN NaN
Louisville, KY        628,594                 0.0  NaN NaN NaN NaN NaN NaN NaN
Memphis, TN           628,127                 0.0  NaN NaN NaN NaN NaN NaN NaN
Mesa, AZ              509,475                 0.0  NaN NaN NaN NaN NaN NaN NaN
Miami, FL             439,890                 0.0  NaN NaN NaN NaN NaN NaN NaN
Milwaukee, WI         569,330                 0.0  NaN NaN NaN NaN NaN NaN NaN
Minneapolis, MN       425,336                 0.0  NaN NaN NaN NaN NaN NaN NaN
Nashville, TN         678,851                 0.0  NaN NaN NaN NaN NaN NaN NaN
New Orleans, LA       376,971                 0.0  NaN NaN NaN NaN NaN NaN NaN
New York City, NY     8,467,513               0.0  NaN NaN NaN NaN NaN NaN NaN
Oakland, CA           433,823                 0.0  NaN NaN NaN NaN NaN NaN NaN
Oklahoma City, OK     687,725                 0.0  NaN NaN NaN NaN NaN NaN NaN
Omaha, NE             487,300                 0.0  NaN NaN NaN NaN NaN NaN NaN
Philadelphia, PA      1,576,251               0.0  NaN NaN NaN NaN NaN NaN NaN
Phoenix, AZ           1,624,569               0.0  NaN NaN NaN NaN NaN NaN NaN
Portland, OR          641,162                 0.0  NaN NaN NaN NaN NaN NaN NaN
Raleigh, NC           469,124                 0.0  NaN NaN NaN NaN NaN NaN NaN
Sacramento, CA        525,041                 0.0  NaN NaN NaN NaN NaN NaN NaN
San Antonio, TX       1,451,853               0.0  NaN NaN NaN NaN NaN NaN NaN
San Diego, CA         1,381,611               0.0  NaN NaN NaN NaN NaN NaN NaN
San Francisco, CA     815,201                 0.0  NaN NaN NaN NaN NaN NaN NaN
San Jose, CA          983,489                 0.0  NaN NaN NaN NaN NaN NaN NaN
Seattle, WA           733,919                 0.0  NaN NaN NaN NaN NaN NaN NaN
Tampa, FL             387,050                 0.0  NaN NaN NaN NaN NaN NaN NaN
Tucson, AZ            543,242                 0.0  NaN NaN NaN NaN NaN NaN NaN
Tulsa, OK             411,401                 0.0  NaN NaN NaN NaN NaN NaN NaN
Virginia Beach, VA    457,672                 0.0  NaN NaN NaN NaN NaN NaN NaN
Washington, D.C.      670,050                 0.0  NaN NaN NaN NaN NaN NaN NaN

[50 rows x 24 columns]

In [23]:
# Load data, define hover text and bubble size
data = pd.read_csv('Interactive Data Final Project.csv')
df_2023 = data['Popular U.S. Cities']

hover_text = []
bubble_size = []

In [28]:
for index, row in df_2023.iterrows():
    hover_text.append(('Popular U.S. Cities: {city}<br>'+
                      'Entry-Level Marketing Starting Salary: {salary}<br>'+
                      'Cities Median Income: {income}<br>'+
                      'Cities Population: {pop}<br>'
                      ).format(city=row['city'],
                                            salary=row['salary'],
                                            income=row['income'],
                                            pop=row['pop'],
                                            year=row['year']))
    bubble_size.append(math.sqrt(row['pop']))

AttributeError: 'Series' object has no attribute 'iterrows'

In [ ]:
df_2007['text'] = hover_text
df_2007['size'] = bubble_size
sizeref = 2.*max(df_2007['size'])/(100**2)

# Dictionary with dataframes for each continent
continent_names = ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']
continent_data = {continent:df_2007.query("continent == '%s'" %continent)
                              for continent in continent_names}

# Create figure
fig = go.Figure()

for continent_name, continent in continent_data.items():
    fig.add_trace(go.Scatter(
        x=continent['gdpPercap'], y=continent['lifeExp'],
        name=continent_name, text=continent['text'],
        marker_size=continent['size'],
        ))

# Tune marker appearance and layout
fig.update_traces(mode='markers', marker=dict(sizemode='area',
                                              sizeref=sizeref, line_width=2))

fig.update_layout(
    title='Life Expectancy v. Per Capita GDP, 2007',
    xaxis=dict(
        title='GDP per capita (2000 dollars)',
        gridcolor='white',
        type='log',
        gridwidth=2,
    ),
    yaxis=dict(
        title='Life Expectancy (years)',
        gridcolor='white',
        gridwidth=2,
    ),
    paper_bgcolor='rgb(243, 243, 243)',
    plot_bgcolor='rgb(243, 243, 243)',
)
fig.show()